
.topbar{
    float: right;
    text-decoration: none;
    
}
.topbar:hover{
    color: green
}

.line{
    padding:10px 
}

.dogvalue{
    width: 400px;
}
.logo{
    float:left;
    padding-top:10px;
}
.account-input{
    width: 300px;
}