h1{
    color:blue
}
.topbar{
    float: right;
    text-decoration: none;
    color: black;
}
.topbar:hover{
    color: green
}
/* .button{
    border-width: 2px;
    border-color: red;
    border-style: solid;
    margin-right: 10px;
    text-align:center;
    padding:10px;
    box-shadow:2px 5px;
} */
.line{
    padding:10px 
}

.box{
    border-width: 3px;
    border-color: green;
    border-style: solid;
    width: 30%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    text-align:center;
    padding-bottom: 150px;
}
.dogvalue{
    width: 400px;
}
.logo{
    float:left;
    padding-top:10px;
}