
.topbar{
    float: right;
    text-decoration: none;
    
}
.topbar:hover{
    color: green
}

.line{
    padding:10px 
}

.dogvalue{
    width: 400px;
}
.logo{
    float:left;
    padding-top:10px;
}
.account-input{
    width: 300px;
}
.next-page{
    float:right;
}
.image-sizing{
    width:20%;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}
.text-center{
    width:75%;
    margin-left:auto;
    margin-right:auto;
}
@media only screen and (max-width: 600px) {
    .mobile-input{
        font-size:24px;
    }
    .mobile-title{
        font-size: 35px;
        text-align:center;
        margin-bottom:10px;
    }
    .mobile-submit{
        float:right;
        font-size:30px;
    }
    .topbar{
        font-size: 20px;
    }
    .main-content{
        padding-top:20px;
    }
    .dogheading {
        width: 10px;
    }
    .dogvalue{
        width: 200px;
    }
    .image-sizing{
        width:60%;
    }
}
