<html>

<head>
<!-- TODO: use url_for -->
<link href="../static/css/style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="container">
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% include 'nav.html'%}
    <h1></h1>
    {% if isAdmin %}
    <form method="POST" action="/dog/{{id}}">
        <table>
            <tr> 
               <th>Name</th>
               <td> <input value="{{dog.Name}}" type="text" name="Name" class="dogvalue"></input> </td>
            </tr>
            <tr>
                <th>Sex</th>
                <td> <input value="{{dog.Sex}}" type="text" name="Sex" class="dogvalue"></input> </td>
            </tr>
            <tr>
                <th>Breed</th>
                <td> <input value="{{dog.Breed}}" type="text" name="Breed" class="dogvalue"></input> </td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td><input value="{{dog.DateofBirth}}" type="text" name="DateofBirth" class="dogvalue"></input></td>
            </tr>
            <tr>
                <th>Dog Size</th>
                <td><input value="{{dog['Size/Lbs']}}" type="text" name="Size/Lbs" class="dogvalue"></input></td>
            </tr>
            <tr>
                <th>Medical issues</th>
                <td><input value="{{dog.medicalissues}}" type="text" name="medicalissues" class="dogvalue"></input></td>
            </tr>
            <tr> 
                <th>Are they housetrained?</th>
                <td> <input value="{{needs.Housetrained}}" type="text" name="Housetrained" class="dogvalue"></input> </td>
             </tr>
             <tr> 
                <th>How are they with kids?</th>
                <td> <input value="{{needs.Kids}}" type="text" name="Kids" class="dogvalue"></input> </td>
             </tr>
             <tr> 
                <th>How do they play with other dogs?</th>
                <td> <input value="{{needs['Otherdogs-Play']}}" type="text" name="Otherdogs-Play" class="dogvalue"></input> </td>
             </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

    {% else %}
    <table>
        <tr> 
           <th>Name</th>
           <td>{{dog.Name}}</td> 
        </tr>
        <tr>
            <th>Sex</th>
            <td>{{dog.Sex}}</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>{{dog.DateofBirth}}</td>
        </tr>
        <tr>
            <th>Dog Size</th>
            <td>{{dog['Size/Lbs']}}</td>
        </tr>
        <tr>
            <th>Medical issues</th>
            <td>{{dog.medicalissues}}</td>
        </tr>
        <tr>
            <th>Are they housetrained?</th>
            <td>{{needs.Housetrained}}</td>
        </tr>
        <tr>
            <th>How are they with kids?</th>
            <td>{{needs.Kids}}</td>
        </tr>
        <tr>
            <th>How are they with other dogs?</th>
            <td>{{needs['Otherdogs-play']}}</td>
        </tr>
    </table>
    {% endif %}

    <!-- <h1>Dog</h1> 
    <h5>{{dog.Name}}</h5>
    <div>
        <p>{{dog.Status}}</p>
        <p>{{dog["Sex/Breed"]}}</p>
        <p>Date of birth:{{dog.DateofBirth}}</p>
        <p>Vaccination Date:{{dog.VaccinationDate}}</p>
    </div>
    
    <div class="row">       
        <div class="col-sm-4">
            <div class="card" style="width: 9rem; height: 5rem; margin-bottom: 20px">
                <div class="card-body">
                    <h5 class="card-title">{{dog.Name}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 9rem; height: 5rem; margin-bottom: 20px">
                <div class="card-body">
                    <p>{{dog["Sex/Breed"]}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 9rem; height: 5rem; margin-bottom: 20px">
                <div class="card-body">
                    <p>{{dog.DateofBirth}}</p>
                </div>
            </div>
        </div> -->
    </div>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>