<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body class="container">
  <div>
    <div>{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}</div>
    {%include 'navlogout.html'%}

    <br>
    <br>

  </div>
  <div class="main-content">
    <div class="text-center">
      <h1 class="mobile-title">Dog Haven</h1> 
      <img src="{{ url_for('static', filename='dogimages/7.jpg') }}" class="image-sizing"/>
      <p>
        Dog Haven allows dog adoption apps to add, edit and list available dogs for rescue and adoption 
        using an admin interface through protected login system. This is a pilot project for non profit 
        dog adoption organizations and was built to help Twyla’s Friends, a non profit organization which 
        rescues and helps homeless dogs to provide a home in Kingwood, Texas community.
      </p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>